@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
}

.navbar {
  transition: 0.4s right ease-in-out;
  transition-delay: 0.2s;
  animation: nav 0.4s;
}

@keyframes nav {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}

.bg-image {
    background: linear-gradient(
      rgba(217, 221, 231, 0.5),
      rgba(0,0,0,0.5)
    ),
    url("./assets/images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gradient-text {
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(
    135deg,
    rgba(255,255,255,0.7),
    #fff,
    rgba(255,255,255,0.1),
    #000,
    rgba(255,255,255,0.5),
     #fff,
    rgba(255,255,255,0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
  backdrop-filter:blur(6px);
  padding:0 10px;
}

@keyframes gradient {
  0% {
    background-position:0% 50%;
  }
  50% {
    background-position:100% 50%;
  }
  100% {
    background-position:0% 50%;
  }
}
