@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  font-family: "Jost", sans-serif;
}
body {
background-color: #f5f5f5;
background-repeat: no-repeat;
background-size: cover;

  height: 100vh;
}
.navbar {
  transition: 0.4s right ease-in-out;
  transition-delay: 0.2s;
  animation: nav 0.4s;
}

@keyframes nav {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}

.vue-typer .custom.char.typed {
  color: #000;
}